#alias ll='ls -l'
alias lla='ls -al'

# SSH
# List all hosts
alias sshhosts="grep -w -i 'Host' ~/.ssh/config | sed 's/Host//'"
#[GIT]

# Reset last commit
alias grlast='git reset HEAD~1'

# log
alias gloc='git log --pretty=format:"[%h]-[%cr:%cD] %an: %s"'

alias cat='bat'

#Moteefe
alias spring='bin/spring'
alias bespr='spring bundle exec'
alias rakespr='bespr'

alias run_spec='spring rspec'

#Rails
#
#Kill all ruby processes created by spring preloader
alias clr_sping_cache='ps aux | grep ruby | grep -v grep | grep -v rubymine | awk "{print $2}" | xargs kill -15'

#app PID
alias rails_pid='lsof -wni tcp:3000'

#AWS
alias elb='aws elasticbeanstalk'
